@import 'normalize';
@import 'academicons';

$width: 650px;
$narrow-cutoff: $width;

/******************************************************************************/
/* Layout */

* {
  box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
}

main, header.toplevel, nav.toplevel, footer.toplevel {
  width: $width;
  margin: 0px auto;
  padding: 10px;
}

header.toplevel {
  text-align: center;
  margin-top: 50px;

  h1 {
    padding: 0px;
    margin: 5px 0px;
  }
}

nav.toplevel {
  padding: 5px 0px;
  text-align: center;

  ul {
    padding: 0px;
    margin: 0px;
  }
  li {
    display: inline;
    padding: 0px 15px;
  }
}

footer.toplevel {
  text-align: center;
}

div.twocol {
  div.twocol-left {
    float: left;
    margin-right: 10px;
  }
}
div.twocol:after {
  content: "";
  display: table;
  clear: both;
}

/**************************************/
/* Mobile layout */
@media (max-width: $narrow-cutoff) {
  main, header.toplevel, nav.toplevel, footer.toplevel {
    width: 100%;
    margin: 0px;
  }

  header.toplevel {
    margin-top: 10px;
  }

  nav.toplevel {
    li {
      display: block;
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

/******************************************************************************/
/* Design */

$lines: 1px #888 solid;

html, body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 11pt;
    line-height: 18pt;
}

a {
    color: #3873b2;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

nav.toplevel {
  border-top: $lines;
  border-bottom: $lines;

  a {
    font-size: 110%;
    text-decoration: none;
  }
}

footer.toplevel {
  border-top: $lines;

  a.icon {
    font-size: 120%;
    text-decoration: none;
    padding: 0px 10px;
  }
}

div.announcement {
  max-width: 0.95 * $width;
  margin: 10px auto;
  padding: 5px;
  /*border: 1px #888 solid;
  background-color: #eee;*/
  font-weight: bold;
  font-size: 110%;
  text-align: center;
}
